<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
        PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <display-name>EvoPortal</display-name>
    <filter>
        <filter-name>EvoPortalApplication</filter-name>
        <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class>
        <init-param>
            <param-name>applicationClassName</param-name>
            <param-value>uk.ac.rdg.evoportal.EvoPortal</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>EvoPortalApplication</filter-name>
        <url-pattern>/evoportal/*</url-pattern>
    </filter-mapping>
</web-app>
